* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1;
  background-color: #fff;}

img {
  max-width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

#top-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* header */

.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
}

.logo {
  display: block;
  width: 48px;
  height: 48px;
}

.menu {
  display: flex;
  align-items: center;

}

.menu a{
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #722ED1;
}

.menu li{
  display: inline;
  margin-right: 40px;
  position: relative;
}
.button {
  border: 1px solid #722ED1;
  padding: 12px 24px;
  border-radius: 25px;
}

.button:hover {
  background-color: #722ED1;
  color: #FFFFFF;
}

.white_btn:hover {
  background-color: #FFFFFF;
  color: #722ED1;
}

.sub_menu {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2px 5px;
  margin-top: 5px;
  border: 1px solid #722ED1;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sub_menu li {
  width: 50px;
  white-space: nowrap;
  padding-bottom: 5px;
}

.menu img {
  margin: 2px 4px;
}

.li_sub_menu:hover .sub_menu{
  opacity: 1;
}

/* first screen */

.first_screen_content .button {
  text-decoration: none;
}

.first_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  padding-bottom: 200px;
}

.first_screen_content {
  width: 472px;
  height: 294px;
  margin-right: 16px;
}

.notification {
  display: flex;
  background-color: #F7F1FF;
  color: #722ED1;
  border-radius: 20px;
  width: 55%;
  justify-content: center;
  padding: 8px 16px;
  margin-bottom: 20px;
}

.notification img {
  margin-right: 12px;
}

.first_screen_img {
  width: 472px;
  height: 370px;
}

.first_screen_content h1 {
  font-size: 41px;
  font-weight: 900;
  line-height: normal;
  text-align: left;
  margin-bottom: 20px;
}

.grey_paragraph {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 24px;
}

.white_btn {
  margin-left: 16px;
}

/* advantages */

.advantages {
  align-items: center;
  text-align: center;
  padding-bottom: 120px;
  padding-top: 120px;

}

.advantages .notification {
  display: flex;
  background-color: #F7F1FF;
  color: #722ED1;
  border-radius: 20px;
  width: 12%;
  justify-content: center;
  padding: 8px 16px;
  margin: 0 auto;
}

.notification img {
  margin-right: 12px;
}

.cards {
  display: flex;
  justify-content: center;
}

.advantage_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 16px;
  width: 307px;
  height: 168px;
}

.no_margin {
  margin-right: 0;
}

.advantages h2 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 24px;
}

.advantage_card h3 {
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.advantage_card p {
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
}

/* information block 1 and 2 */

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.information_img {
  margin-right: 90px;
}

.information .notification {
  width: 50%;
}

.information_content h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.second {
  margin-left: 70px;
  margin-right: 0;
}

/* reviews */
#reviews {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
}

.rev_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.quote {
  color: #160637;
  font-size: 24px;
  margin-bottom: 32px;
}

.profile_picture {
  margin-bottom: 32px;
}

.name {
  font-weight: 700;
}

.position {
  margin-bottom: 32px;
  font-weight: 700;
}

.line {
  height: 1px;
  width: 960px;
  background-color: #DEC9FA;
  margin-bottom: 32px;
}

.nav_rev {
  display: flex;
  align-items: center;
  justify-content: center;

}

.rev_logo {
  margin-right: 90px;
  }

.no_right_margin {
  margin: 0;
}

/* prefooter */

.prefooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 950px;
  margin: 120px 245px;
}

.left_side {
  width: 440px;
  margin-right: 60px;
}

.left_side h3 {
  font-size: 32px;
  font-weight: 700;
}

.left_side img {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pf_images {
  display: flex;
  flex-wrap: wrap;
}

.form_wrapper {
  background-color: #F9F0FF;
  border-radius: 4px;
  width: 480px;
  margin: 0 auto;
}

.form_wrapper form {
  background-color: #FFFFFF;
  padding: 32px 40px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(116, 116, 116, .16);
  width: 86%;
  margin: 0 auto;
  transform: translateY(-42px);
}

h4 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}

.form_wrapper input {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid rgba(137, 137, 162, .5);
  outline: none;
}

.form_wrapper form button {
  width: 100%;
  background-color: #722ED1;
  color: #FFFFFF;
  padding: 12px 98px 12px 99px;
  border: none;
  border-radius: 4px;
}

.or {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: #000000;
  margin: 16px 0;
  text-align: center;
}

form a {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  text-decoration: none;
}

form .line {
  height: 1px;
  width: 100%;
  background-color: #8989A2;
  margin: 16px 0;
}

.footer_form p {
  height: 14px;
  text-align: center;
  font-size: 14px;

}

.footer_form p a {
  text-decoration: none;
  color: #722ED1;
  height: 14px;
  display: inline;
}

/* footer */

.footer {
  background-color: #FBFCFF;
  padding: 60px 0;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  display: block;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  max-width: 210px;
}

.description a {
  width: 48px;
  height: 48px;
}

.description p {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 14px;
  margin-bottom: 24px;
}

.description ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
}

.description li {
  margin-right: 16px;
}

.list_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.list {
  margin-right: 40px;
}

.heading {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.list ul {
  list-style-type: none;
}

.list li {
  display: block;
  padding: 10px 0;
}

.newsletter {
  display: block;
  margin-top: -330px;
}

.newsletter form {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  padding: 12px;
  height: 40px;
}

.newsletter input {
  display: block;
  border: none;
  outline: none;
}

.newsletter button {
  border: none;
  background-color: transparent;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  margin-left: 15px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}

.copyright img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

@media only screen and (max-width : 1200px) {
  .information {
    margin: 10px;
  }
  .review {
    margin: 10px;
  }
  .prefooter {
    margin: 40px 25px;
  }
  .left_side {
    margin-left: 60px;
  }
}

@media only screen and (max-width : 992px) {
  h2 {
    font-size: 28px;
  }
  .first_screen_img {
    display: none;
  }
  .information {
    margin: 10px;
  }
  .review {
    margin: 10px;
  }
  .review .line{
    display: none;
  }
  .review .quote{
    font-size: 20px;
  }

  .prefooter{
    width: auto;
  }

  .left_side {
    display: none;
  }
  .form_wrapper {
    width: 470px;
  }
  .form_wrapper h4 {
    font-size: 20px;
  }
  .footer .container {
    display: flex;
    align-items: center;
  }
  .footer .description {
    display: none;
  }
}

@media only screen and (max-width : 768px) {

  .li_sub_menu {
    margin-right: 5px;
    margin-left: 5px;
  }
  .first_screen {
    margin-left: 10px;
    padding-bottom: 100px;
  }
  .menu li {
    margin-right: 20px;
  }
  .menu .button {
    display: none;
  }
  .advantages {
    padding-top: 60px;
    margin: 10px;
  }
  .advantages .notification {
    width: 50%;
  }
  .advantages h2 {
    font-size: 28px;
  }
  .information_content h2 {
    font-size: 28px;
  }
  .information_img {
    display: none;
  }
  #reviews {
    display: none;
  }
  .footer .container {
    display: none;
  }
  .list_wrapper .heading {
    font-size: 14px;
  }
}


/*# sourceMappingURL=main.css.map */
